@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #333;
}

* {
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container--loader {
    background-color: #333;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    margin-bottom: -50px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/background-courses.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 15px;
    background-color: #f0eded;
}

::-webkit-scrollbar-thumb {
    background-color: #a2a2a2;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

::-webkit-scrollbar-corner {
    background-color: #f5f5f5;
}

/* Nav */

.nav {
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
    display: inline-block;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.nav__logo:hover .nav__title {
    transform: scale(0.9);
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav__links span {
    display: inline-block;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.nav__links:hover span {
    transform: scale(1.2);
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}

/* Hero container */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
    margin-top: -50px;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #333;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.cta:hover {
    transform: scale(1.2);
}

/* course */

.course {
    text-align: center;
    margin-top: -50px;
}

.course__table {
    padding-top: 60px;
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.course__element {
    background-color: #dddddd;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #000000;
    --color-course: #000000;
    --bg-cta: #FFF;
    --color-cta: #000000;
    --color-items: #000000;
}

.course__element--active {
    width: 370px;
    padding: 60px 40px;
    background-color: #333;
    --color-plan: rgb(255 255 255 / 75%);
    --color-course: #FFF;
    --bg-cta: #000000;
    --color-cta: #FFF;
    --color-items: #FFF;
    position: relative;
}

.course__name {
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 1.2rem;
}

.course__icon__pack {
    margin-top: 25px;
    margin-bottom: 25px;
}

.course__icon {
    width: 40px;
}

.course__items {
    margin-top: 10px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: var(--color-items);
}

.course__cta {
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    transition: transform 0.3s ease;
}

.course__cta:hover {
    transform: scale(0.9);
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 4s ease-out;
}

.animate-on-scroll.animate {
    opacity: 1;
    transform: translateY(0);
}

/* Testimony */

.testimony {
    background-color: #ccc;
    margin-bottom: -40px;
}

.testimony__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.testimony__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__picture {
    position: relative;
}

.testimony__picture-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.testimony__picture:hover .testimony__picture-overlay {
    opacity: 1;
}

.testimony__picture-icon {
    background: #ffffff;
    color: #0a0808;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.testimony__picture-icon:hover {
    transform: scale(1.2);
}

.testimony__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts {
    max-width: 700px;
}

.testimony__course {
    background-color: #0a0808;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow {
    width: 90%;
    cursor: pointer;
}

/* Questions */

.questions {
    text-align: center;
    margin-bottom: -110px;
}

.questions__container {
    margin-top: -20px;
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding {
    padding: 0;
    transition: padding .3s;
    border: 1px solid #333;
    border-radius: 6px;
}

.questions__padding--add {
    padding-bottom: 30px;
}

.questions__answer {
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title {
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow {
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 10px;
    transition: transform .3s;
}

.questions__arrow--rotate {
    transform: rotate(180deg);
}

.questions__show {
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img {
    display: block;
}

.questions__copy {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Footer */

.footer {
    background-color: #333;
}

.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright {
    font-weight: 300;
}

.footer__icons {
    margin-bottom: 10px;
}

.footer__img {
    width: 30px;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.footer__img:hover {
    transform: scale(1.3);
}

/* Media queries */

@media (max-width:800px) {
    ::-webkit-scrollbar {
        width: 0px;
    }
    
    .nav {
        --padding-container: 0;
    }

    .hero::before {
        background-position: 900px;
    }

    .nav__menu {
        display: block;
    }

    .nav__link {
        gap: 1em;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 999;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .about__main {
        gap: 2em;
    }

    .about__icons:last-of-type {
        grid-column: 1/-1;
    }

    .knowledge__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture {
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container {
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }

    .testimony__img {
        width: 200px;
        height: 200px;
    }

    .questions__copy {
        width: 100%;
    }
}

@media (max-width:600px) {
    .hero::before {
        background-position: 700px;
    }

    .hero__title {
        font-size: 2rem;
    }

    .hero__paragraph {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .course__element {
        width: 90%;
    }

    .course__course {
        font-size: 2rem;
    }

    .testimony {
        --padding-container: 60px 0;
    }

    .testimony__container {
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow {
        width: 100%;
    }

    .testimony__course {
        margin-top: 15px;
    }

    .questions__title {
        font-size: 1rem;
    }
}

@media (max-width:320px) {
    .hero::before {
        background-position: 550px 580px;
    }

    .course__video {
        top: 63%;
    }
}